

.containerHT{
  
    opacity: 0.8;
    background-image: url("./imgTransfers/transfer_top.jpg");
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
}


.titelTransfers{
    
    color: white;
    font-size: larger;
    padding: 16% ;
    align-items: center;
    
}



/* <---------------start Map ----------> */
#position {
    background-color: #fff;
    padding: 12px 0;
    font-size: 11px;
    border-bottom: 1px solid #ededed;
}

.containerMap ul{
    display: flex; 
    
}

.containerMap ul li{
    display: flex; 
    margin-left: 10px;
}


.containerMap ul li a{
    text-decoration: none;
    color: black;
}
