.numbers-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.numbers-row span {
    display: block;

    width: 1.5rem !important;

    cursor: pointer;

    border: 1px #cccccc solid;
}

.numbers-row input {
    width: 3rem;

    text-align: center;

    border: none;
}

.item {
    display: flex;

    /* align-items: center; */

    justify-content: space-around;
}

.myBtn1 {
    font-family: inherit;
    font-size: inherit;

    position: relative;
    z-index: 1;

    overflow: hidden;

    margin-bottom: 1rem;
    padding: 0.5em 1em;

    cursor: pointer;

    color: white;
    border: none;
    outline: none;
    background-color: #018388;
}

.myBtn2 {
    font-family: inherit;
    font-size: inherit;

    position: relative;
    z-index: 1;

    overflow: hidden;

    padding: 0.5em 1em;

    cursor: pointer;

    color: white;
    color: #018388;
    border: 2px solid #018388;
    outline: none;
    background-color: #018388;
    background-color: #fff;
}

@media(max-width: 436px) {
    .table_head {
        display: none;
    }

    .image_row {
        display: none;
    }
}
