* {
    box-sizing: border-box !important;
}

#search-form{
    display: flex;
    justify-content: center;
    width: fit-content;
}
.search-box {
    position: relative !important;

    width: fit-content !important;
    height: fit-content !important;
}

.input-search {
    font-size: 18px !important;

    width: 50px !important;
    height: 50px !important;
    padding: 10px !important;
    padding-right: 40px !important;

    transition: all .5s ease-in-out !important;
    letter-spacing: 2px !important;

    color: #fff !important;
    border-style: none !important;
    border-radius: 25px !important;
    outline: none !important;
    background-color: #22a6b3 !important;
}

.input-search::placeholder {
    font-size: 18px !important;
    font-weight: 100 !important;

    letter-spacing: 2px !important;

    color: rgba(255, 255, 255, .5) !important;
}

.btn-search {
    font-size: 20px !important;
    font-weight: bold !important;

    position: absolute !important;
    right: 0px !important;

    display: flex !important;
    align-items: center !important;
    justify-content: center !important;

    width: 50px !important;
    height: 50px !important;
    padding: 0 !important;

    cursor: pointer !important;
    pointer-events: painted !important;

    color: #ffffff !important;
    border-style: none !important;
    border-radius: 50% !important;
    outline: none !important;
    background-color: transparent !important;
}

.btn-search:focus ~ .input-search {
    width: 300px !important;

    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2) !important;

    border-bottom: 1px solid rgba(255, 255, 255, .5) !important;
    border-radius: 0px !important;
    background-color: transparent !important;
}

.input-search:focus {
    width: 300px !important;

    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2) !important;

    border-bottom: 1px solid rgba(255, 255, 255, .5) !important;
    border-radius: 0px !important;
    background-color: transparent !important;
}

/*  footer */
