.blur {
  filter: blur(5px) !important;
}

.reservation-success {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  background-color: #fff !important;
  border-radius: 16px !important;
  padding: 25px !important;
  filter: none !important;
  z-index: 9999 !important; /* Ensure the window is displayed above other elements */
}

.reservation-success-message {
  text-align: center !important;
}

.reservation-success-message h2 {
  color: green !important;
}

.reservation-success-message button {
  margin-top: 10px !important;
  z-index: 1 !important;
  position: relative !important;
  font-size: inherit !important;
  font-family: inherit !important;
  color: white !important;
  padding: 0.5em 1em !important;
  outline: none !important;
  border: none !important;
  background-color: #22b3c1 !important;
  border-radius: 16px !important;
}

.reservation-success-message button:hover {
  cursor: pointer !important;
  border: 1px solid #22b3c1 !important;
  background-color: #fff !important;
  color: #22b3c1 !important;
}
/* 
.reservation-success-message button:hover::before {
  transform-origin: center left !important;
  transform: scaleX(1) !important;
} */
.reservation-success-message span {
  font-weight: bold !important;
  color: #22b3c1 !important;
}
