body{
    background-color: rgb(249, 249, 249);
    margin: 0;
    padding: 0;
    display: block;
}
.container{
    margin-top: 50px;
}
.box_style_cat {
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}
ul#cat_nav {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul#cat_nav li {
    line-height: 20px;
    border-bottom: 1px solid #ddd;
}
ul#cat_nav li a {
    display: block;
    padding: 15px 10px;
}
ul#cat_nav li a {
    position: relative;
    color: #444;
    font-size: 13px;
}

ul#cat_nav li a {
    display: block;
    padding: 15px 10px;
}
ul#cat_nav li a {
    position: relative;
    color: #444;
    font-size: 13px;
}
a {
    color: #e14d67;
    text-decoration: none;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    outline: none;
}
ul#cat_nav li a span {
    font-size: 11px;
    color: #999;
}

ul#cat_nav i {
    font-size: 22px;
    margin-right: 5px;
    float: left;
}
.arrow_icon{
    position: absolute;
    right: 15px;
    top: 15px;
}